.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    background-color: rgb(183, 238, 251);
    border-radius: 8px;
    padding: 10px;
    position: fixed;
    right: 1rem;
    top: 3rem;

    input{
        margin: 10px;
    }

    input[type=submit]{
        border-radius: 5px;
    }
}